version: "3.9"

services:
  db:
    image: postgres:15
    container_name: subtrack_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: subtrack
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data

  migrate:
    image: migrate/migrate
    container_name: subtrack_migrate
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path=/migrations",
        "-database=postgres://postgres:postgres@db:5432/subtrack?sslmode=disable",
        "up"
      ]
    restart: "on-failure"

  api:
    build: .
    container_name: subtrack_api
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      DATABASE_DSN: "user=postgres password=postgres host=db port=5432 dbname=subtrack sslmode=disable"
      HTTP_ADDRESS: ":8080"
      LOG_LEVEL: "DEBUG"
    ports:
      - "8080:8080"

volumes:
  pgdata:
